<ion-app>
  <ion-split-pane when="sm" contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title align-title="center">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-list-header>
            <b>Navigation</b>
          </ion-list-header>

          <ion-menu-toggle [autoHide]="false">
            <ion-item button href="/userhome">
              <ion-icon slot="start" name='Home'></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle [autoHide]="false">
            <ion-item button href="userprofile">
              <ion-icon slot="start" name='person'></ion-icon>
              <ion-label>
                Profile
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle [autoHide]="false">
            <ion-item button href="/usersearch">
              <ion-icon slot="start" name='Search'></ion-icon>
              <ion-label>
                Search Video/Course
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle [autoHide]="false">
            <ion-item href="/purchasedcourses">
              <ion-icon slot="start" name='pricetags'></ion-icon>
              <ion-label>
                Purchased Courses
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle [autoHide]="false">
            <ion-item href="/folders">
              <ion-icon slot="start" name="folder-open-outline"></ion-icon>
              <ion-label>
                Folders
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle [autoHide]="false">
            <ion-item href="/useremailcomposer">
              <ion-icon slot="start" name='mail-outline'></ion-icon>
              <ion-label>
                Email Composer
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle [autoHide]="false">
            <ion-item>
              <ion-button href="home"> Sign out </ion-button>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <div class="ion-text-center">
            <ion-title slot="start" size="Medium">View Course</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>

     <ion-content class="ion-padding">

      <ion-list padding>
        <ion-list-header>
          <ion-label>  {{courseName}}</ion-label>

          <div *ngIf="purchased == false">
          <ion-button (click)="purchaseCourse()"color="dark" >Purchase</ion-button>
        </div>
        </ion-list-header>

        <ion-item *ngFor="let video of videos">
          <ion-label text-wrap>
            <h2>{{video.videoName}}</h2>
            <div *ngIf=" purchased == false">
              <h3>{{"$" + video.price}}</h3>
            </div>
            <p> {{video.summary}}</p>
          </ion-label>
          <!-- <div *ngIf=" purchased == 0">
          <ion-button  (click)="purchaseVideo(video)"color="dark" >Purchase Video</ion-button>
          </div> -->
          <div *ngIf=" purchased == true">
          <ion-button (click)="streamVideo(video)"color="dark" >Play</ion-button>
        </div>
        </ion-item>
    </ion-list>

  </ion-content>
    </div>
  </ion-split-pane>
  </ion-app>
