<body>
  <ion-app>
    <ion-header>
      <ion-toolbar color="primary">
         <!-- Back button with a default href -->
         <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>

        <div class="ion-margin-vertical ion-text-center">

          <ion-title> Take and Teach </ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-card>
                <ion-card-header>
                  <div class="ion-margin-vertical ion-text-center">
                    <ion-card-title><h1>User Login</h1></ion-card-title>
                  </div>
                </ion-card-header>

                <ion-card-content>
                  <div class="ion-margin-vertical ion-text-center">
                    <form #form="ngForm" (ngSubmit)="login(form)">
                      <ion-item>
                        <ion-input name="email" type="email" placeholder="jhondoe@gmail.com" ngModel required></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                      </ion-item>

                    <div padding>
                        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
                        <br>
                        <p class="paragraph"><b>Don't have an account?</b></p>
                        <div class="hr"> </div>
                        <ion-button routerLink="/user-sign-up"> Sign Up </ion-button>
                    </div> <br>
                    </form>
                  </div>
                </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
</body>
