<body>
  <ion-app>
    <ion-header>
      <ion-toolbar color="primary">
        <div class="ion-margin-vertical ion-text-center">
          <ion-title> Take and Teach </ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-card>
                <ion-card-header>
                  <div class="ion-margin-vertical ion-text-center">
                    <ion-card-title><h1>Welcome</h1></ion-card-title>
                  </div>
                </ion-card-header>

                <ion-card-content>
                  <div class="ion-margin-vertical ion-text-center">
                  <h1> Are you a User or an Instructor? </h1>
                  <ion-button routerLink="/user-sign-in"> User </ion-button>
                  <ion-button routerLink="/instructor-sign-in"> Instructor </ion-button>
                  </div>
                </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
</body>
